@media only screen and (max-width: 900px) {
    #header[role="banner"] {
        #header-bottom-left {
            padding-bottom: 64px !important;
            ul.tabmenu {
                bottom: 32px !important;
            }
        }
    }
}

#header[role="banner"] {
    border-bottom: none;
    box-shadow: $elevationShadow;

    #header-bottom-left {
        position: relative;
        height: 196px;
        padding-bottom: 32px;
        background: $cyan;

        #header-img {
            display: none;
        }

        .redditname {
            background-image: img("background-scribble.jpg");
            background-size: cover;
            background-position: center;
            position: absolute;
            top: 0;
            width: 100%;
            height: 196px;
            margin: 0;
            display: flex;
            justify-content: center;
            color: transparent;

            a {
                display: block;
                margin: 0px 20px;
                width: 500px;
                max-width: 1000px;
                height: 100%;
                color: transparent;
                background: img("logo.png") no-repeat bottom / contain;
                background-position-y: bottom 10%;
            }
        }

        ul.tabmenu {
            position: absolute;
            bottom: 0;
            left: 0;
            margin: 0;
            padding: 0;
            height: 32px;

            li {
                display: table-cell;
                height: 30px;
                margin: 0;
                background-color: $cyan;
                vertical-align: middle;
                border-bottom: solid 2px $cyan;
                transition: border-bottom-color 0.1s;

                a {
                    padding: 0 16px;
                    display: inline-block;
                    color: $dark;
                    font-size: 16px;
                    background-color: transparent;
                    border: none;
                    vertical-align: middle;
                    text-transform: capitalize;
                }

                &.selected {
                    border-bottom-color: $dark;
                    background-color: $dark;
                    transition: border-bottom-color 0s;

                    a {
                        color: $cyan;
                    }
                }

                &:hover {
                    border-bottom-color: darken($cyan, 40%);
                }
            }
        }
    }

    #header-bottom-right {
        height: 32px;
        padding: 0 8px;
        font-size: 12px;
        background-color: $dark;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 0;

        &::after {
            position: absolute;
            background-color: rgba(0,0,0,0.5);
            box-sizing: content-box;
            display: block;
            padding: 8px;
            bottom: 100%;
            right: 0;
            transform: translate(-2px, -2px);
            transform-origin: bottom right;
            white-space: pre;
            content: "Our CSS theme is custom-made.\00000aIf you experience any issues, please report them to our modmail!";
        }
    }
}
