.c-btn-primary {
    background-color: $cyan;
    border-bottom: none;
    color: $dark;
    box-shadow: $elevationShadow;

    transition: 0.2s;

    &:hover {
        background-color: mix($cyan, $dark, 80%);
    }

    &:active {
        margin-top: 0;
        margin-bottom: 0;
        background-color: mix($cyan, $dark, 60%);
    }
}

button {
    background-color: white;
    color: $dark;
    border: none;
    padding: 6px 8px;
    box-shadow: $elevationShadow;
    border-radius: 4px;
    font-weight: bold;
    transition: 0.1s;
    &:hover {
        background-color: $cyan;
        color: $textColor;
    }
}
