span.flairrichtext {
    border-radius: 20px;
    box-shadow: $elevationShadow;
    background-color: #ddd;

    &.flaircolordark span {
        color: black;
    }

    &.flaircolorlight span {
        color: white;
    }
}