span.userattrs {
    visibility: hidden;
}

span.userattrs a {
    visibility: visible;
}

span.userattrs a.submitter {
    color: transparent;
    background: img("OP.png");
}

span.userattrs a.submitter {
    color: transparent !important;
    background: img("OP.png") no-repeat;
    padding-left: 6px;
    padding-right: 6px;
}

span.userattrs a.moderator {
    color: transparent !important;
    padding-left: 6px;
    padding-right: 6px;
    background: img("Moderator.png") no-repeat;
}
