.md {
    a {
        color: $cyan;
    }
    blockquote {
        border-left: 2px dotted $cyan;
        color: silver;
        background-color: transparentize($cyan, 0.9);
        padding: 4px 8px;
    }
}
