body {
    background: linear-gradient(60deg, rgba(0, 0, 0, 1) 7%, rgba(0, 80, 84, 1) 93%);
    background: img("silversilhouette.png") no-repeat right fixed,
        linear-gradient(60deg, rgba(0, 0, 0, 1) 7%, rgba(0, 80, 84, 1) 93%) fixed;
    background-color: rgba(0, 0, 0, 0);
    background-repeat: repeat, repeat;
    background-repeat: no-repeat;
    background-color: rgb(0, 28, 28);
}