*, textarea {
    font-family: $sysFont;
    color: #EEE;
}

a, .tagline a {
    color: $cyan;
}

a.moderator, .stickied-tagline {
    color: limegreen !important;
}

h2,
.commentsignupbar__container .commentsignupbar__title {
    color: $cyan;
}

