$cyan: rgba(25, 208, 209);
$darkCyan: #22ad98;
$gold: #ffae00;

$main: #eee;
$dark: #1d1d1d;

$elevationShadow: 0 2px 5px rgba(0, 0, 0, 0.26);

$sysFont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;

@mixin liftedBoxDark {
    color: white;
    background-color: $dark;
    box-shadow: $elevationShadow;
    border-radius: 4px;
}
