div.thing:not(.comment)[data-is-gallery="true"] div.entry .media-preview {
    @include liftedBoxDark;
    background-color: $dark;
    color: $textColor;
    border: none;
    font-size: 16px;
}

div.thing:not(.comment) div.entry {
    div.crosspost-preview,
    form.usertext div.usertext-body .md,
    .usertext.usertext-body {
        @include liftedBoxDark;
        background-color: $dark;
        color: $textColor;
        border: none;
        font-size: 16px;
    }

    div.crosspost-preview {
        p.title {
            color: $textColor;
            font-size: 20px;
        }

        .tagline {
            color: $textColor;
            font-size: 13px;
        }

        .flairrichtext {
            // This is set as transparent within the HTML, so we need to use !important :/
            background-color: white !important;
        }

        .crosspost-preview-content hr.self-divider {
            border-top: dotted 1px $textColor;
        }
    }

    .md {
        background-color: transparent;
        border: none;
    }

    .crosspost-preview.video .crosspost-preview-content {
        background-color: transparent;

        .md {
            font-size: 16px;
        }
    }

    .media-preview {
        overflow: auto;
        position: relative;
        width: fit-content;
        width: -moz-fit-content;

        .gallery-nav-bar {
            padding: 4px 8px;
        }
    }
}
