div#siteTable .thing {
    // This allows us to use position: absolute on the expand arrow.
    position: relative;
    
    padding-top: 4px;
    border-left: solid 4px transparent;

    margin-bottom: 48px;

    // Green announcement posts
    &.stickied {
        padding-top: 8px;
        border-left: solid 4px limegreen;
        margin-bottom: 32px;
        background: linear-gradient(to right, transparentize(limegreen, 0.6), transparent 70%);

        p.title a.title {
            color: limegreen;
        }
    }

    // Hide the ugly gray overlay around the last clicked element.
    &.last-clicked {
        border: none;
        border-left: solid 4px transparent;
    }

    // Hide numbers, useless in my opinion.
    .rank {
        display: none;
    }

    // Title of the post
    p.title {
        a.title {
            font-size: 20px;
            color: $cyan;
        }
    }

    .thumbnail {
        border-radius: 35px;
        margin-left: 10px;
        margin-right: 12px;
        background-color: white;
        height: 70px;
        box-shadow: $elevationShadow;
        position: relative;

        img {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
        }

        &.self {
            background: img("TextPost.png")
                no-repeat center;
            background-color: $dark;
        }

        &.default {
            background: img("LinkPost.png")
                no-repeat center;
            background-color: $dark;
        }
    }

    .entry {
        p.tagline {
            font-size: 14px;
            color: white;
            margin-bottom: 2px;
        }

        .tagline a.author,
        .search-result-meta a.author {
            color: lighten($cyan, 15%);
            font-weight: bold;
            font-style: italic;
        }

        .expando-button {
            position: absolute;
            top: 2px;
            left: 60px;
            width: 70px;
            height: 70px;

            &.collapsed {
                background: img("Expand.png")
                        no-repeat 116% 118% / 38px 38px,
                    radial-gradient(
                        circle 14px at 80% 80%,
                        darken($cyan, 15%) 0%,
                        darken($cyan, 15%) 96%,
                        transparent 100%
                    );
                background-repeat: no-repeat;
            }

            &.expanded {
                background: img("Unexpand.png")
                        no-repeat 116% 118% / 38px 38px,
                    radial-gradient(
                        circle 14px at 80% 80%,
                        darken($cyan, 15%) 0%,
                        darken($cyan, 15%) 96%,
                        transparent 100%
                    );
                background-repeat: no-repeat;
            }
        }
    }

    // I'm pretty sure hiding promotions is a violation, but to make them less prominent, they are slightly transparentized.
    &.promoted {
        background-color: transparent;
        border: none;
        opacity: 0.6;
    }
}
